body {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

#easel {
  display: grid;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: antiquewhite;
  height: 30vw;
  width: 30vw;
  border-radius: 3vw;
  position: relative;
}

#border {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
  color: rgb(204, 0, 0);
  outline-color: rgb(255, 56, 56);
  border-radius: 3vw;
  padding-bottom: 1vw;
  height: 50vw;
  width: 90vw;
  border-color: rgb(239, 219, 192);
}

#upper {
  display: flex;
  align-items: center;
  color: gold;
  font-style: italic;
  font-family:monospace;
  font-size: 1vw;
}

span {
  font-family: cursive;
  font-size: 5vw;
}

.wheel {
  height: 6vw;
  width: 6vw;
  background-color: white;
  border-radius:100%;
  margin: 1vw;
}

#lower {
  display: flex;
  align-items:center;
  justify-content: space-around;
  padding-top: 0.5vw;
  margin: 0;
  width: 100vw;
}

#bottom-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5vw;
  font-weight: 900;
}

p {
  margin: 0.5vw 2vw;
}

h1 {
  margin: 1vw 2vw;
}

#easel > * {
  height: 100%;
  background-color: #ffffff;
  transition: all 0.5s;
}